<div class="pt-1 pb-1 mb-0 bg-warning">
    <div class="container">
        <a class="text-dark" href="{{ path('app_sprint', { 'sprintId': sprint['id'] }) }}">
            <span class="oi oi-arrow-left"></span>
            Terug naar de sprint
        </a>
    </div>
</div>
